/*Configuraciones para toda la página*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans";
  src: url("https://fonts.googleapis.com/css?family=Noto Sans");
}

body {
  background-color: white;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
  margin: 0;
}
/*Para el contenido de la página*/
.container {
  width: 85%;
  max-width: 95%;
  margin: 0 auto;
}

/*Para el encabezado de la página*/
.header {
  background-color: #722f37;
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  letter-spacing: 15px;
  font-size: 1.3em;
  
  pointer-events: none;
  cursor: default;
}

.logo img{
  width: 15%;
  height: 15%;
}

.logo:hover{
  color: white;
}

.menu-icon_contact {
  display: none;
}

.navigation_contact .contact{
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation_contact .contact li{
  display: inline-block;
}

.navigation_contact .contact li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  font-size: 24px;
}

.navigation_contact .contact li a:hover{
  background-color: black;
  border-radius: 10px;
  color: white;
}

.contact li a{
  background-color: #722f37;
  color: #FFF;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.contact li a:hover{
  background-color: #434343;
}

.contact>li{
  float: left;
}

.contact li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}

.contact li:hover> ul{
  display: block;
}

/*Para el cuerpo de la página*/
.main {
  padding-top: 10rem;
}

p{
    padding-top: 2em;
}

/*Para el mapa del sitio*/
.container_map {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0;
  
}

/*para el pie de página*/
.footer {
  background-color: #722f37;
    text-align: center;
    margin-top: 3rem;
    color: white;
    height: 100px;
}

.pie{
  font-size: 20px;
  padding-bottom: -10px;
}

/*Para la parte responsive, es decir, cuando se consulte en celulares u otros dispositivos*/
@media only screen and (max-width: 547px) {
  iframe {
    width: 100%;
  }

  .main{
    padding-top: 10rem;
  }

  .logo{
    pointer-events: none;
    cursor: default;
  }

  .menu-icon_contact {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 25px;
  }

  .navigation_contact {
    width: 100%;
    margin-top: 1rem;
  }

  .navigation_contact .contact {
    display: none;
  }

  .navigation_contact .contact.show {
    display: block;
  }

  .navigation_contact .contact li {
    display: block;
  }

  .navigation_contact .contact li a {
    display: block;
    padding: 0.5rem 0rem;
    transition: all 0.4s linear;
  }

  .navigation_contact .contact li a:hover {
    background-color: #bb7640;
  }
}
