/*Configuraciones para toda la página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Noto Sans";
    src: url("https://fonts.googleapis.com/css?family=Noto Sans");
}

body {
  background-color: white;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
  margin: 0;
  
}
/*Para el contenido de la página*/
.container {
  width: 85%;
  max-width: 95%;
  margin: 0 auto;
}

.text{
    padding-top: 2rem;
}

/*Para el encabezado de la página*/
.header{
    background-color: #722f37;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0; 
}

.header a{
    color: white;
    text-decoration: none;
}

.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 15px;
    font-size: 1.3em;
    pointer-events: none;
    cursor: default;
}

.logo img{
    width: 15%;
    height: 15%;
}

.menu-icon{
    display: none;
}

.navigation .nav{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation .nav li{
    display: inline-block;
}

.navigation .nav li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    font-size: 24px;
}

.navigation .nav li a:hover{
    background-color: black;
    border-radius: 10px;
}

.nav li a{
    background-color: #722f37;
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover{
    background-color: #434343;
}

.nav>li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover> ul{
    display: block;
}

/*Para el cuerpo de la página*/
.main{
    padding-top: 20%;
}

.main .container .text p{
    font-size: 25px;
}

/*para el pie de página*/
.footer{
    background-color: #722f37;
    text-align: center;
    margin-top: 12.9rem;
    color: white;
    height: 100px;
}

.pie{
    position: relative;
    font-size: 20px;
    top: 40px;
  }

/*Para la parte responsive, es decir, cuando se consulte en celulares u otros dispositivos*/
@media only screen and (max-width: 547px) {
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
        color: white;
        font-size: 25px;
    }

    .logo{
        pointer-events: none;
        cursor: default;
    }

    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul{
        display: none;
    }

    .navigation ul.show{
        display: block;
    }

    .navigation ul li{
        display: block;
    }
    
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0rem;
        transition: all 0.4s linear;
    }
    
    .navigation ul li a:hover{
        background-color: #BB7640;
    }
}